/* "base": for resetting the css and style the native elements */
@tailwind base;
/* "components": for style your own custom classes */
@tailwind components;
/* "utilities": for styling of the classes provided by the tailwind */
@tailwind utilities;

@layer base {
    :root {
        --global-bg-color: #f5f6f6;
        --dockview-bg-color: #f5f6f6;
    }
    [class='dark'] {
        --dockview-tabs-panel-bg-color: #17181b; /* Dark mode */
        --global-bg-color: #0b0c0d;
    }
}

@layer base {
    /* always set this like this html and body element */
    /* min-height is not inherited by the child  so we have replace the min-height by the height property */
    html,
    body {
        background-color: #ffffff;
        font-family: 'Poppins', sans-serif;
        min-height: 100vh;
        width: 100%;
    }

    html {
        font-size: 62.5%;
    }
    body {
        font-size: 1.6rem;
    }

    #root {
        height: 100vh;
        width: 100%;
    }
}
